<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  <div class="container">
    <div class="site">
      {% include header.html %}

      <div class="content">
        <div class="banner">
          <div class="photo">
            <img src="/assets/headshot.png" width="200px" height="260px">
          </div>
          <div class="contact">
            Senior Specialist - Data Science/Engineering<br>
            <a href="https://libin.ucalgary.ca/">Libin Cardiovascular Institute</a>, Calgary, Alberta, Canada <br>
            <br>
            Email: <a href="mailto:mattmacdc@gmail.com">mattmacdc@gmail.com</a> <br>
            GitHub: <a href="https://github.com/mttmac">mttmac</a> <br>
            LinkedIn: <a href="https://www.linkedin.com/in/mttmac/">Matt MacDonald</a> <br>
          </div>
        </div>


        <div class="homecontent">
          <b><span style="color:#209cee">
              <font size="4">Brief Bio</font>
            </span></b> <br>
          ...
          <br>
          <br>
          <br>
          <br>
          <b><span style="color:#209cee">
              <font size="4">Career Goals</font>
            </span></b> <br>
          ...
          <br>
          <br>

          <b><span style="color:#209cee">
              <font size="4">Profile Summary</font>
            </span></b> <br>
          ...
          <br>
          <br>
        </div>
      </div>
      <div class="sidebar"></div>
      {% include footer.html %}
    </div>
  </div>
  </div>
</body>

</html>